@charset "UTF-8";

.mainContainer{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}
.header{
	width: 100%;
	height: 170px;
}
.headerTop{
	width: 80%;
	height: 60px;
}
.headerBottom{
	width: 80%;
	height: 100px;
}
.logoDiv{
	width: 200px;
	height: 100%;
	display: inline-block;
	float: left;
}
.searchDiv{
	width: 500px;
	height: 100%;
	display: inline-block;
	float: none;
	line-height: 100px;
}
.bannerDiv{
	width: 300px;
	height: 100%;
	display: inline-block;
	background: gray;
	float: right;
}

.searchInput{
	width: 100%;
	height: 60%;
	border: 2px solid #A091B7;
}
.menu{
	width: 100%;
	height: 60px;
	border-top: 2px solid #f3f3f3;
	border-bottom: 2px solid #f3f3f3;
}
.menu ul{
	list-style: none;
	width: 80%;
	height: 95%;
	
}
.menu li{
	float: left;
	margin-right: 100px;
}
.bannerDiv2{
	width: 80%;
	height: 120px;
	background: gray;
}
.loginDiv{
	width: 80%;
	height: 120px;
	border: 1px solid #dae1e6;
	background: #f3f3f3;
}
#mainLoginBtn{
	width: 80%;
	height: 50px;
	margin-top: 20px;
	border: none;
	background: #A091B7;
	color: white;
	font-weight: bold;
	font-size: 36px;
	outline: none;
}
#mainLoginBtn:hover{
	cursor: pointer;
}
.rankDiv{
	width: 80%;
	height: 200px;
	margin-top: 20px;
	border: 1px solid #dae1e6;
}