<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 맵퍼파일 생성 후 반드시 sql-map-config.xml 파일에 mapper 등록해줘야 함 -->
<mapper namespace="sampleMapper">
	<resultMap type="com.spring.biz.vo.SampleVO" id="sample">
		<result column="SAMPLE" 	property="sample"/>
	</resultMap>
	
</mapper>
















